<div class="big_news">
    <div class="main_news">
        <a href="@@PathToMainEvent"><img src="@@PathToMainImage" alt="@@Mainheader" class="main_photo"></a> 
        <div class="main_head">
            <a href="@@PathToMainEvent">@@Mainheader</a> 
        </div>
        <div class="info">
            <div class="who">
                @@Mainauthor
            </div>
            <div class="when">
                @@Mainwhen
            </div>

        </div>
    </div>
    <div class="sec_news">
        <div class="right_news">
            <a href="@@PathToEventOne"><img src="@@PathToImageOne" alt="@@headerOne"  class="img_resp"></a> 
            <div class="sec_head">
                <a href="@@PathToEventOne">@@headerOne</a> 
            </div>
            <div class="info">
                <div class="who">
                    @@authorOne
                </div>
                <div class="when">
                    @@whenOne
                </div>

            </div>
        </div>

        <div class="right_news">   
            <a href="@@PathToEventTwo"><img src="@@PathToImageTwo" alt="@@headerTwo" class="img_resp"></a> 
            <div class="sec_head">
                <a href="@@PathToEventTwo">@@headerTwo</a> 
            </div>
            <div class="info">
                <div class="who">
                    @@authorTwo
                </div>
                <div class="when">
                    @@whenTwo
                </div>

            </div>
        </div>

    </div>

</div>

<div class="small_news">
    <div class="row_news">
        <a href="@@PathToSmallEventOne"><img src="@@PathToSmallImageOne" alt="@@SmallheaderOne" class="row_img"></a> 
            <div class="sec_head">
                <a href="@@PathToSmallEventOne">@@SmallHeaderOne</a> 
            </div>
            <div class="info">
                <div class="who">
                    @@SmallAuthorOne
                </div>
                <div class="when">
                    @@SmallWhenOne
                </div>

            </div>
    </div>

    <div class="row_news">
        <a href="@@PathToSmallEventTwo"><img src="@@PathToSmallImageTwo" alt="@@SmallheaderTwo" class="row_img"></a> 
            <div class="sec_head">
                <a href="@@PathToSmallEventTwo">@@SmallHeaderTwo</a> 
            </div>
            <div class="info">
                <div class="who">
                    @@SmallAuthorTwo
                </div>
                <div class="when">
                    @@SmallWhenTwo
                </div>

            </div>
    </div>

    <div class="row_news">
        <a href="@@PathToSmallEventThree"><img src="@@PathToSmallImageThree" alt="@@SmallheaderThree" class="row_img"></a> 
            <div class="sec_head">
                <a href="@@PathToSmallEventThree">@@SmallHeaderThree</a> 
            </div>
            <div class="info">
                <div class="who">
                    @@SmallAuthorThree
                </div>
                <div class="when">
                    @@SmallWhenThree
                </div>

            </div>
    </div>
    


</div>