<div class="big_news">
    <div class="main_news">
        <a href="@@PathToMainEvent"><img src="@@PathToMainImage" alt="@@Mainheader" class="main_photo"></a> 
        <div class="main_head">
            <a href="@@PathToMainEvent">@@Mainheader</a> 
        </div>
        <div class="info">
            <div class="who">
                @@Mainauthor
            </div>
            <div class="when">
                @@Mainwhen
            </div>

        </div>
    </div>
    <div class="sec_news">
        <div class="right_news">
            <a href="@@PathToEventOne"><img src="@@PathToImageOne" alt="@@headerOne"></a> 
            <div class="sec_head">
                <a href="@@PathToEventOne">@@headerOne</a> 
            </div>
            <div class="info">
                <div class="who">
                    @@authorOne
                </div>
                <div class="when">
                    @@whenOne
                </div>

            </div>
        </div>

        <div class="right_news">   
            <a href="@@PathToEventTwo"><img src="@@PathToImageTwo" alt="@@headerTwo"></a> 
            <div class="sec_head">
                <a href="@@PathToEventTwo">@@headerTwo</a> 
            </div>
            <div class="info">
                <div class="who">
                    @@authorTwo
                </div>
                <div class="when">
                    @@whenTwo
                </div>

            </div>
        </div>

    </div>

</div>
<div class="small_news">

</div>