.header {
    font-family: 'PT Sans';
    font-size: 24px;
    margin-top: 3vh;
}

.blue {
    display: flex;
    color: #333333;
}

.blue:after {
    content: ' ';
    border-bottom: #333333 solid 2px;
    display: block;
    flex: 1 0 auto;
    margin-left: 10px;
    height: 0;
    position: relative;
    top: 22px;
}

.lighter_blue {
    display: flex;
    color: #3d76cc;
}

.lighter_blue:after {
    content: ' ';
    border-bottom: #3d76cc solid 2px;
    display: block;
    flex: 1 0 auto;
    margin-left: 10px;
    height: 0;
    position: relative;
    top: 22px;
}

