.new_home_item .outer_header {
    bottom: 30px;
}

.new_home_item .pop_cats {
    height: 90%;
    width: auto;
    margin-left: 50%;
    transform: translate(-50%);
    box-shadow: 4px 4px 4px gray;
}

