.big_news {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    width: 100%;
    height: fit-content;
}

.main_news {
    width: 100%;
    margin-right: 2%;
    position: relative;
    height: fit-content;
    margin-bottom: 10px;
}

.main_photo {
    width: 100%;
}

.main_head {
  font-family: "Times New Roman";
  font-size: 30px;
  font-weight: 800;
  margin: 20px 0 40px 0;
  padding-left: 0;
  
}

.info {
    font-family: 'Arial Narrow';
    font-size: 14px;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    position: absolute;
    bottom: 10px;
}

.who {
    font-weight: 600;
    margin-right: 3px;
}

.sec_news {
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
        
}

.right_news {
    position: relative;
    height: fit-content;
        
}

.sec_head {
    font-size: 30px;
    font-family: "Times New Roman";
    font-weight: 600;
    margin: 20px 0 40px 0;
    padding-left: 0;
}

.main_news,
.right_news,
.row_news {
    padding: 20px 0;
    border-bottom: lightgray 1px solid;
}

.small_news {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    position: relative;
}

.row_news {
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
    position: relative;
}

.row_img {
    width: 100%;
}

.img_resp {
    width: 100%;
}