.photonews_head {
    font-family: 'PT Sans';
    font-size: 17px;
    font-weight: bold;
    position: relative;
    margin-bottom: 1vh;
}

.red_camera {
    position: absolute;
    top: 110px;
    left: 10px;
}