.cont_sorts {
    width: 12vw;
    height: 35vh;
    margin-top: 4vh;
    //margin: 0 10vw;
   // border: firebrick solid 1px;

}

.sort_image {
    border-radius: 3vh;
    width: 100%;
}

.swiper-slide-active .cont_sorts {
    transform: scale(1.2); // увеличение на 20%
    transition: transform .2s ease;
}
// .swiper-slide .cont_sorts {
//     transform: scale(0.8); // уменьшить неактивный слайд
//     // transition: transform .2s ease;
// }