.sw_two_head {
    color: red;
    font-size: 14px;
    text-align: left;
}

.sw_two_bot {
    color: blue;
    font-size: 14px;
    text-align: left;
}

img {
    margin-top: 1vh;
}

.slides_sec {
    margin: 0 5px;
}