.videonews_head {
    font-family: 'PT Sans';
    font-size: 13px;
    font-weight: bold;
    position: relative;
    margin: 0vh 0.5vw 0.5vh 0;
    display: inline-flex;
    flex-direction: row;
}

.viol_video {
    position: absolute;
    top: 60px;
    left: 10px;
}

.video_prev {
    margin-right: 0.5vw;
   
}