@import './sprites.scss';
@font-face {
  font-family: 'Bebas';
  src: url('../fonts/Bebas.ttf');
}


body {
  padding: 0 10%;
 }

.logo_big {
  float: left;
  }


.menu_big {
  float: right;
  text-align: center;
  vertical-align: middle;
  height: 130px;
  
  }

.menu_img {
  margin: 20px 30px;
  display: inline-block;
  }

.menu-text {
  color: #9e9b9b;
  display: inline-flex;
  }

.big_orange {
  margin-left: -13.5%;
  margin-right: -13.4%;
  background-size: 100vw;
  height: 320px;
  background-image: url('./img/big-orange-bg.png');
  background-repeat: no-repeat;
  border-top: orange solid 4px;
  border-bottom: orange solid 4px;
  }

.clearfix {
  clear: both;
  }

.questions {
  margin: 15vh 60% 10vh 11%;
  font-size: 40px;
  display: inline-flex;
  flex-direction: column;
  font-family: 'Bebas';
  }

  
.qe1 {
  background-color: rgba(0, 0, 0, 0.822);
  color: orange;
  margin-bottom: 10px;
  }

.qe2 {
  background-color: rgba(255, 166, 0, 0.808);
  color: black;
  }

.top_columns {
  display: inline-block;
  width: 24%;
  font-size: 12px;
  padding-top: 1vh;
  }
  

.read_more {
  text-align: right;
  padding: 2px;
  color: orange;
 }

.header {
  color: orange;
  font-size: 30px;
  text-align: center;
  margin-top: 3vh;
  text-decoration: underline;
}

.team {
  //border: yellowgreen solid 1px;
  display: inline-block;
  text-align: center;
  width: 33%;
  font-size: 12px;
  margin: 3vh auto;

}

.team_avatar {
  border-radius: 50%;
  border: orange solid 4px;
  width: 80%;
  ;
  
}

.name_job {
 font-size: 18px;
 margin-bottom: 3vh;
  
}

.team_name {
 // border: brown solid 1px;
  display: inline;

}

.team_job {
 // border: chartreuse solid 1px;
  display: inline;
  color: orange;
  


}
 