@import './sprites.scss';
@import './partials/med_slider.scss';

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald.ttf');
}

body {
  font-family: 'Montserrat';
  margin: 0;
}

.first_screen {
  background: linear-gradient(to right,  rgba(255,249,171,1) 1%,rgba(253,195,145,1) 100%);
  height: 100vh;
  
}

.menu {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  position: relative;
  
}

.party {
  font-family: 'Oswald';
  font-size: 28px;
  color: #6B2971;
  margin: 0 1vw;
  padding: 0;
  
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5%;

}

.logo_text {
  display: flex;
  flex-direction: column;
  
}

.logo_logo {
  margin-top: 1vh;
}

.fa-circle {
  font-size: 5px;
}

.navig {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #6B2971;
  font-size: 24px;
  font-weight: bold;
  width: 60%;
  
}

.service {
  width: 17vw;
  height: 100%;
  background-color: #BA395D;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.service::after {
  content: url('./img/menu/hid_nav.png');
  margin-left: 30px;
}

.common_top {
  height: 58vh;
  display: flex;
  flex-direction: row;
}

.common_text {
  padding-left: 10%;
  width: 58vw;
  color: #6B2971;

}

.common_text_serv {
  display: flex;
  flex-direction: column;
  text-align: left;
  
}

.common_text_big {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  font-size: 70px;
  margin-bottom: 5vh;
}

.common_text_small {
  font-size: 32px;
}

.common_illustr {
  width: 42vw;
  height: 58vh;
  background: linear-gradient(to right,  rgba(255,249,171,1) 1%,rgba(253,195,145,1) 100%);
  border-radius: 20vh 0 0 0;
  position: relative;
  
}

.big_cat {
  margin-left: -15vw;
  margin-top: -14vh;
  width: 45vw;
  
}

.common_bottom {
  display: flex;
  flex-direction: row;
  height: 27vh;
}

.first_pagination {
  display: inline-flex;
  text-align: center;
  flex-direction: column;
  color: #BA395D;
  width: 5vw;
  height: 100%;
  position: absolute;
  right: 3vw;
  
  
}

.first {
  font-size: 10px;
  margin-top: 6vh;
  margin-bottom: 6vh;
}

.first_act {
  font-size: 33px;
}

.down {
  width: 9vw;
  margin-top: 8vh;
  text-align: center;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  //border: black solid 1px;
}



.header {
  display: flex;
  flex-direction: row;
  background-color: #BA395D;
  border-radius: 15vh 0 0 0;
   width: 91vw; 
  // border: chartreuse solid 1px;
}

.head {
  padding-left: 6vw;
  padding-top: 3vh;
  color: #ffffff;
  font-family: 'Montserrat-Bold';
  font-size: 45px;
  
}

.social {
  width: 28%;
  background: linear-gradient(45deg, rgba(255,249,171,1) 39%,rgba(238,241,179,1) 47%,rgba(125,185,232,0) 100%);
  display: flex;
  flex-direction: row;
  padding: 10vh 5vw 0 5vw;
  justify-content: space-around;
  align-content: center;
  
}

.soc {
  z-index: 1;
}

.second_screen {
  height: 100vh;
  padding-left: 8.8vw;
  display: flex;
  flex-direction: column;
  
}

.descript {
  display: flex;
  flex-direction: row;
  height: 70vh;
  width: 100%;
  background-color: #BA395D;
  border-radius: 0 0 0 10vh;
  
}

.for_artcl {
  display: flex;
  flex-direction: column;
  width: 85vw;
  padding: 2vh 15vw 0 5vw;
  
}

.article {
  margin-bottom: 3vh;
  margin-top: 3vh;
  color: #ffffff;
  font-size: 20px;
  
}

.second_pagination {
  display: inline-flex;
  text-align: center;
  flex-direction: column;
  color: #ffffff;
  width: 5vw;
  height: 100%;
  position: absolute;
  right: 3vw;
  
  
}

.second {
  font-size: 10px;
  margin-top: 4vh;
  margin-bottom: 6vh;
}

.second_act {
  font-size: 33px;
}

.cat_med {
  display: flex;
  margin-top: 2vh;
  
}



#cat_med {
  margin-top: 2vh;
  height: 30vh;
  width: 100%;
  padding: 2vh 2vw 0 5vw;
  position: relative;
  //border: red solid 1px;
}

.swiper-button-prev.med_prev:after {
  content: url('./img/2page/Slider/prev.png');
  width: 35px;
  position: absolute;
  left: -10px;
}

.swiper-button-next.med_next:after {
  content: url('./img/2page/Slider/next.png');
  width: 35px;
  position: absolute;
  right: 20px;
  
}

