@import './partials/for_slider.scss';
@import './partials/news.scss';

html {
  margin: 80px 14% 0 12%;
}

a {
  text-decoration: none;
  color: inherit;
}

.for_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: -88px -13% 0 -13%;
  padding: 0 12%;
  position: fixed;
  border-bottom: lightgray 1px solid;
  background-color: #FFFFFF;
  height: 70px;
  width: 77vw;
  z-index: 100;
}

.logo_img {
  float: left;
}

.menu_categor {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.with_line:hover {
  text-decoration: underline;
}

.m_right {
  margin: 25px 5px;
  width: max-content;
}

.burger {
  width: 20px;
  height: 3px;
  background-color: black;
  margin: 3px 0;
}

.category {
  font-family: "Arial";
  font-size: 15px;
  color: rgb(94, 93, 93);
  margin: 25px 15px;
  width: max-content;
}

.timer {
  font-family: "Arial";
  font-size: 15px;
  font-weight: 600;
  color: rgb(57, 57, 240);
}

.meny {
  font-family: "Arial";
  font-size: 15px;
  font-weight: 600;
  color: rgb(41, 41, 41);
}

.attention {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  width: 105%;
  height: 40px;
  padding-top: 20px;
  padding-bottom: 0;
  background-color: rgb(235, 233, 233);
}

.att_button {
  font-family: "Arial";
  font-size: 19px;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
  background-color: rgb(255, 81, 0);
  border-radius: 25px;
  width: 200px;
  height: 27px;
  padding-top: 12px;
}

.att_text {
  font-family: "Cambria Math";
  font-size: 25px;
  font-weight: 600;
  color: rgb(255, 81, 0);
  text-align: center;
}

.swiper {
  border-bottom: lightgray 2px solid;
  margin-top: 10px;
  width: 105%;
  height: 100px;
  display: flex;
  align-content: center;
}

.swiper-button-next.new_button::after {
  font-family: 'Font Awesome 5 Free';
  content: "\f35a";
  font-size: 30px;
  
}

.news_block {
  margin-top: 30px;
}