.logo_big {
  float: left;
  height: 80px;
  width: 300px;
  display: inline-block;
}

.img_logo {
  float: left;
  height: 100%;
  width: 25%;
   
  }

.logo_text {
  margin: 0 10px;
  align-items: center;
  justify-content: center;

  }