@import './partials/main-news.scss';
@import './partials/header1.scss';
@import './partials/news_list.scss';
@import './partials/photonews.scss';
@import './partials/videonews.scss';
@import './partials/int st.scss';


@font-face {
  font-family: 'PT Sans';
  src: url('../Fonts/PT Sans.ttf');
}

body {
  padding: 0 15%;
  font-family: 'PT Sans';
}

.columns {
  display: inline-flex;
  flex-direction: row;
  
}

.left_column {
  width: 66.67%;
  padding: 0 2%;
  
}

.right_column {
  width: 33.33%;
 
}

.head {
  
  font-size: 14px;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  
  }

.bg_black {
  width: 25%;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  padding: 4px;
  align-content: center;
  justify-content: center;
}

.bg_gray {
  display: inline-flex;
  flex-direction: row;
  background-color: rgb(233, 231, 231);
  width: 75%;
}

.bg_gray_left {
  padding: 4px;
  text-align: center;
  width: 30%;
}

.bg_gray_right {
  padding: 4px;
  text-align: left;
  width: 45%;
}

.swiper-slide {
  background-color: rgb(233, 231, 231);
  margin: 3vh 0 0 0;
  display: inline-flex;
  flex-direction: row;
  border-bottom: red solid 4px;
}

.slider_img {
  float: left;
  height: auto;
  width: 66.67%;
}

.ts_news {
  padding: 20px;
  width: 20vw;

}

.ts_head {
  color: rgb(212, 14, 14);
  font-family: 'PT Serif';
  font-size: 30px;
  margin-bottom: 1vh;
}

.ts_text {
  font-family: 'PT Serif';
  font-size: 15px;
  
}

.mnews {
  display: inline-flex;
  flex-direction: row;
  width: 60%;
  margin-bottom: 4vh;
}

.list_news {
  display: inline-block;
  text-align: left;
  
}

.head_news {
  
  font-size: 14px;
  font-weight: bold;
  margin-right: 0.5vw;
  
}

.feed_img {
  float: left;
  margin-right: 0.5vw;
  margin-bottom: 1.5vh;
}

.head_news:after {
  content: url(../img/Icons/bw-photo.png);
  display: inline;
}

.site {
  color: #cccccc;
  font-size: 11px;
  display: inline;
  line-height: 20px;
  margin-left: 1px;
}

.last_and_feed {
  display: inline-flex;
  flex-direction: row;
}

.photonews {
  width: 40%;
  display: inline-flex;
  flex-direction: column;
  margin-left: 2vw;
  margin-top: 4vh;
}

.swiper {
  width: 600px;
  height: 250px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: red;
}

.swiper-button-next {
  position: relative;
  top: 80%;
  right: 10%;
}

.swiper-pagination:root {
  color: red;
}

.header2::before {
  content: '';
  border-bottom: #333333 solid 3px;
  display: block;
  flex: 1 0 auto;
  margin-right: 5px;
  height: 0;
  position: relative;
  top: 11px;
}

.header2::after {
  content: '';
  border-bottom: #333333 solid 3px;
  display: block;
  flex: 1 0 auto;
  margin-left: 5px;
  height: 0;
  position: relative;
  top: 11px;
}

.header2 {
  color: #6a0099;
  font-size: 18px;
  display: flex;
  font-weight: bold;
  margin-bottom: 1vh;
}

.more_vid {
  color: #3d76cc;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  
}

.for_video {
  border-bottom: #333333 solid 3px;  
}

.int_stat {
  height: 72px;
  display: flex;  
  align-items: flex-end;
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  border-bottom: #333333 solid 3px;
}

.interesting {
  border-bottom: #333333 solid 4px;
  
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
  color: #3d76cc;
}