@import './partials/main-news.scss';
@import './partials/header1.scss';
@import './partials/news_list.scss';
@import './partials/photonews.scss';
@import './partials/videonews.scss';
@import './partials/int st.scss';
@import './partials/swiper_two.scss';
@import './partials/big_slider.scss';


@font-face {
  font-family: 'PT Sans';
  src: url('../Fonts/PT Sans.ttf');
}

body {
  padding: 0 15%;
  font-family: 'PT Sans';
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
  color: #3d76cc;
}

.columns {
  display: inline-flex;
  flex-direction: row;
}

.left_column {
  width: 66.67%;
  padding: 0 2%;
  
}

.right_column {
  width: 33.33%;
  display: inline-flex;
  flex-direction: column;
 
}

.head {
  
  font-size: 14px;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  
  }

.bg_black {
  width: 25%;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  padding: 4px;
  align-content: center;
  justify-content: center;
}

.bg_gray {
  display: inline-flex;
  flex-direction: row;
  background-color: rgb(233, 231, 231);
  width: 75%;
}

.bg_gray_left {
  padding: 4px;
  text-align: center;
  width: 30%;
}

.bg_gray_right {
  padding: 4px;
  text-align: left;
  width: 45%;
}

.slider_img {
  float: left;
  height: auto;
  width: 66.67%;
}

.ts_news {
  padding: 20px;
  width: 20vw;

}

.ts_head {
  color: rgb(212, 14, 14);
  font-family: 'PT Serif';
  font-size: 30px;
  margin-bottom: 1vh;
}

.ts_text {
  font-family: 'PT Serif';
  font-size: 15px;
  
}

.mnews {
  display: inline-flex;
  flex-direction: row;
  width: 60%;
  margin-bottom: 4vh;
}

.list_news {
  display: inline-block;
  text-align: left;
  
}

.head_news {
  
  font-size: 14px;
  font-weight: bold;
  margin-right: 0.5vw;
  
}

.feed_img {
  float: left;
  margin-right: 0.5vw;
  margin-bottom: 1.5vh;
}

.head_news:after {
  content: url(../img/Icons/bw-photo.png);
  display: inline;
}

.site {
  color: #cccccc;
  font-size: 11px;
  display: inline;
  line-height: 20px;
  margin-left: 1px;
}

.last_and_feed {
  display: inline-flex;
  flex-direction: row;
}

.photonews {
  width: 40%;
  display: inline-flex;
  flex-direction: column;
  margin-left: 2vw;
  margin-top: 4vh;
}

.header2::before {
  content: '';
  border-bottom: #333333 solid 3px;
  display: block;
  flex: 1 0 auto;
  margin-right: 5px;
  height: 0;
  position: relative;
  top: 11px;
}

.header2::after {
  content: '';
  border-bottom: #333333 solid 3px;
  display: block;
  flex: 1 0 auto;
  margin-left: 5px;
  height: 0;
  position: relative;
  top: 11px;
}

.header2 {
  color: #6a0099;
  font-size: 18px;
  display: flex;
  font-weight: bold;
  margin-bottom: 1vh;
}

.more_vid {
  color: #3d76cc;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  
}

.for_video {
  border-bottom: #333333 solid 3px;  
}

.int_stat {
  height: 72px;
  display: flex;  
  align-items: flex-end;
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  border-bottom: #333333 solid 3px;
}

.interesting {
  border-bottom: #333333 solid 4px;
}

.red {
  color: red;
}

.ocean {
  color: blue;
}

#swiper {
  width: 600px;
  height: 250px;
  --swiper-theme-color: red;
  border-bottom: red solid 4px;
}

.slide_one {
  background-color: rgb(233, 231, 231);
  margin: 3vh 0 0 0;
  display: inline-flex;
  flex-direction: row; 
  justify-content: space-around;
  position: relative;
}

.swiper {
  width: 100%;
  height: fit-content;
  margin-top: 1vh;
  --swiper-theme-color: red;
  border-bottom: red solid 4px;
}

.cont {
  position: absolute;
  bottom: 30px;
  left: 510px;
  height: 18px;
  width: 18px;
}

.swiper-button-prev {
  top: 230px;
  left: 410px;
}

.swiper-button-next {
  top: 230px;
  left: 540px;
}

 .swiper-button-next,
 .swiper-button-prev {
   color: red;
}

 .swiper-button-next::after,
 .second_button_next::after {
   content: url('./img/For_footer/right.png');
 }

 .swiper-button-prev::after,
 .second_button_prev::after {
  content: url('./img/For_footer/left.png');
}

.slide_one {
  position: relative;
  &::after {
  content: attr(aria-label);
  position: absolute;
  bottom: 30px;
  right: 100px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  }
}

 .second_button_next:hover,
 .second_button_prev:hover {
   background-color: #ffffffad;
 }

.second_button_prev.swiper-button-prev {
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  margin-left: -10px;
  width: 54px;
  height: 100%;
  top: 25px;
  left: auto;
  &:hover {
    background-color: #ffffffad;
  }
}

.second_button_next.swiper-button-next {
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%);
  margin-right: -10px;
  width: 54px;
  height: 100%;
  top: 25px;
  left: auto;
  &:hover {
    background-color: #ffffffad;
  }
}

@media (min-width: 550px) and (max-width: 1200px) {
  body {
    padding: 0 1%;
  }

  .columns {
    flex-direction: column;
  }

  .left_column {
    width: 100%;
  }
  
  .right_column {
    width: 100%;
    flex-direction: column;
  }

  #swiper {
    width: 600px;
    height: 350px;
  }

  .swiper-button-prev {
    top: 320px;
    left: 410px;
  }
  
  .swiper-button-next {
    top: 320px;
    left: 540px;
  }

  .for_video {
    display: inline-flex;
    flex-direction: column;
    
  }

  .videonews_head {
    flex-direction: column;
    
  }

  .video_serv {
    display: inline-flex;
    flex-direction: row;
     width: 100%;
  }

  .videonews_head {
    margin: 0 5px;
    width: 30%;
  }

  .int_serv {
    display: inline-flex;
    flex-direction: row;
    margin: 0 0.5vw;
  }

  .int_st {
    flex-direction: column;
  }

}

@media (min-width: 375px) and (max-width: 549px) {
  body {
    padding: 0 1%;
  }

  .columns {
    flex-direction: column;
  }

  .left_column {
    width: 100%;
  }
  
  .right_column {
    width: 100%;
    flex-direction: column;
  }

  #swiper {
    width: 550px;
    height: 800px;
    
  }

  .slide_one {
    display: inline-flex;
    flex-direction: column;
  }

  .slider_img {
    width: 100%;
    float: none;
  }

   .ts_news {
     width: 100%;
     display: inline;
   }

  .swiper-button-prev {
    top: 96%;
    left: 65%;
  }
  
  .swiper-button-next {
    top: 96%;
    left: 90%;
  }

  .cont {
    left: 85%;
  }

  #swiper2 {
    width: 100%;
  }

  .for_video {
    display: inline-flex;
    flex-direction: column;
    
  }

  .videonews_head {
    flex-direction: column;
    
  }

  .video_serv {
    display: inline-flex;
    flex-direction: row;
     width: 100%;
  }

  .videonews_head {
    margin: 0 5px;
    width: 30%;
  }

  .int_serv {
    display: inline-flex;
    flex-direction: row;
    margin: 0 0.5vw;
  }

  .int_st {
    flex-direction: column;
  }

}


@media (min-width: 320px) and (max-width: 374px) {
  body {
    padding: 0 1%;
  }

  .columns {
    flex-direction: column;
  }

  .left_column {
    width: 100%;
  }
  
  .right_column {
    width: 100%;
    flex-direction: column;
  }

  #swiper {
    width: 550px;
    height: 800px;
    
  }

  .slide_one {
    display: inline-flex;
    flex-direction: column;
  }

  .slider_img {
    width: 100%;
    float: none;
  }

   .ts_news {
     width: 100%;
     display: inline;
   }

  .swiper-button-prev {
    top: 96%;
    left: 65%;
  }
  
  .swiper-button-next {
    top: 96%;
    left: 90%;
  }

  .cont {
    left: 85%;
  }

  .footer {
    width: 100vw;
    
  }

  #swiper2 {
    width: 100vw;
    
  }

  .for_video {
    display: inline-flex;
    flex-direction: column;
    
  }

  .videonews_head {
    flex-direction: column;
    
  }

  .video_serv {
    display: inline-flex;
    flex-direction: row;
     width: 100%;
  }

  .videonews_head {
    margin: 0 5px;
    width: 30%;
  }

  .int_serv {
    display: inline-flex;
    flex-direction: row;
    margin: 0 0.5vw;
  }

  .int_st {
    flex-direction: column;
  }

}