body {
  padding: 10px 10% 10px 10%;
}

.logo_big {
  float: left;
  height: 80px;
  width: 300px;
  display: inline-block;
}

.img_logo {
  float: left;
  height: 100%;
  width: 25%;
  margin-right: 10px; 
  }

.logo_text {
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  position: flex;
  }

  .menu_big {
    float: right;
    }

  .menu_s {
    display: inline-block;
  }

  .big_orange {
    margin-left: -13.5%;
    width: 100vw;
    height: 40vh;
    background-image: url('./img/orange1.jpg');
    border-top: orange solid 4px;
    border-bottom: orange solid 4px;

  }

  .clearfix {
    clear: both;
  }

  .questions {
    padding: 30vh 70% 10vh 10%;
    font-family: 'Tahoma';
    font-size: 20px;
  }

  .qe1 {
    background-color: black;
    color: orange;
    margin-bottom: 10px;
  }

  .qe2 {
    background-color: orange;
    color: black;
  }

  .top_columns {
    display: inline-block;
    width: 24%;
    height: 30vh;
    font-size: 9px;
    align: left;
    padding: 2px
  }

