@import './sprites.scss';
@font-face {
  font-family: 'Bebas';
  src: url('../fonts/Bebas.ttf');
}
@font-face {
  font-family: 'StMarie';
  src: url('../fonts/StMarie.otf');
}


body {
  padding: 0 10%;
 }

.logo_big {
  float: left;
  }


.menu_big {
  float: right;
  text-align: center;
  vertical-align: middle;
  height: 130px;
  
  }

.menu {
  margin: 20px 30px;
  display: inline-block;
  }

.menu-text {
  color: #9e9b9b;
  display: inline-flex;
  }

.big_orange {
  margin-left: -13.5%;
  margin-right: -13.4%;
  background-size: 100vw;
  height: 320px;
  background-image: url('./img/big-orange-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-top: orange solid 4px;
  border-bottom: orange solid 4px;
  }

.clearfix {
  clear: both;
  }

.questions {
  margin: 15vh 60% 10vh 11%;
  font-size: 40px;
  display: inline-flex;
  flex-direction: column;
  font-family: 'Bebas';
  }

  
.qe1 {
  background-color: rgba(0, 0, 0, 0.822);
  color: orange;
  margin-bottom: 10px;
  }

.qe2 {
  background-color: rgba(255, 166, 0, 0.808);
  color: black;
  }

.top_columns {
  display: inline-block;
  width: 24%;
  font-size: 12px;
  padding: 1vh 1px;
  font-family: 'Calibri';
  font-weight: bold;
  }
  

.read_more {
  text-align: right;
  padding: 2px;
  color: orange;
  font-style: italic;
 }

.header {
  color: orange;
  font-size: 30px;
  text-align: center;
  margin-top: 3vh;
  text-decoration: underline;
  font-family: 'StMarie';
  font-weight: bold;
}

.team {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 33%;
  font-size: 12px;
  margin: 3vh auto;
  font-family: 'Calibri';
}

.team_avatar {
  border-radius: 50%;
  border: orange solid 4px;
  width: 80%;
  margin-bottom: 3vh;
    
}

.name_job {
 font-size: 18px;
 margin-bottom: 3vh;
  
}

.team_name {
 display: inline;

}

.team_job {
 display: inline;
  color: orange;
  
}
 
.team_descript {
  width: 60%;
  display: inline-block;
  text-align: left;
  
}

.form_name {
  margin-top: 3vh;
  padding-left: 5%;
}

.form_names {
  display: flex;
  flex-direction: column;
  color: orange;
  font-family: 'StMarie';
  width: 20%;
  font-weight: bold;
  font-size: 16px;
   
}

.field_container {
  display: inline-flex;
  flex-direction: column;
  width: 80%;
  }

.send_message {
  display: inline-flex;
  width: 100%;
 }

.field {
 margin-top: 3vh;
 background-color: #f8f7f6;
}

.submit {
  margin-top: 3vh;
  width: fit-content;
  margin-left: 90%;
  font-family: 'StMarie';
  font-size: 16px;
  color: #FFFFFF;
  background-color: orange;
  border-bottom: rgb(238, 142, 17) solid 2px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
 }

 .footer {
  margin-left: -13.5%;
  margin-right: -13.4%;
  background-color: orange;
  font-family: 'StMarie';
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 1vh;
  margin-top: 3vh;
}

.bg-about_icon:hover .hidden_menu {
  display: block;
}

.hidden_menu {
  display: none;
  position: relative;
  top: 100%;
  padding: 10%;
  color: #9e9b9b;
  background-color: #FFFFFF;
  border: #9e9b9b solid 2px;
  width: max-content;
}

.hid_text {
  text-align: left;
  border-bottom: #9e9b9b solid 1px;
  margin-top: 5%;
}

@media (min-width: 550px) and (max-width: 1090px) {
  body {
    padding: 0 5%;
   }
  .menu_big {
    height: 80px;
  }
  .menu {
    margin: 5px 15px;
  }
  .questions {
    margin: 5vh 10%;
    font-size: 25px;
  }
  .big_orange {
    margin-left: -13.5%;
    margin-right: -13.4%;
    height: 25vh;
    border-top: orange solid 2px;
    border-bottom: orange solid 2px;
    background-size: cover;
    }
  .top_columns {
    width: 49%;
    font-size: 9px;
    padding: 1vh 1px;
    font-family: 'Calibri';
    font-weight: bold;
    }
  .team {
    width: 99%;
    font-size: 25px;
    margin: 3vh auto;
  }
  .name_job {
    font-size: 25px;
    margin-bottom: 3vh;
  }
}

@media (min-width: 375px) and (max-width: 549px) {
  body {
    padding: 0 5%;
   }
  .menu_big {
    height: 80px;
  }
  .menu {
    margin: 5px 8px;
  }
  .questions {
    margin: 3vh;
    font-size: 15px;
  }
  .big_orange {
    margin-left: -13.5%;
    margin-right: -13.4%;
    height: 10vh;
    border-top: orange solid 2px;
    border-bottom: orange solid 2px;
    background-size: cover;
    }
  .top_columns {
    width: 99%;
    font-size: 9px;
    padding: 1vh 1px;
    font-family: 'Calibri';
    font-weight: bold;
    }
  .team {
    width: 99%;
    font-size: 15px;
    margin: 3vh auto;
  }
  .name_job {
    font-size: 25px;
    margin-bottom: 3vh;
  }
  .submit {
    margin-top: 3vh;
    width: fit-content;
    margin-left: 75%;
    font-size: 16px;
  }
  .form_names {
    width: 25%;
    font-weight: bold;
    font-size: 16px;
  }
  .footer {
    margin-left: -13.5%;
    margin-right: -13.4%;
    padding: 0 3%;
    margin-bottom: 1vh;
    margin-top: 3vh;
    font-size: 13px;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  body {
    padding: 0 5%;
   }
  .logo_big {
    display: none;
    }
  .menu_big {
    height: 80px;
  }
  .menu {
    margin: 5px 3px;
  }
  .questions {
    margin: 2vh 5%;
    font-size: 15px;
  }
  .big_orange {
    margin-left: -13.5%;
    margin-right: -13.4%;
    height: 14vh;
    border-top: orange solid 2px;
    border-bottom: orange solid 2px;
    background-size: cover;
    }
  .header {
    font-size: 18px;
    margin-top: 3vh;
    font-weight: normal;
    }
  .top_columns {
    width: 99%;
    font-size: 9px;
    padding: 1vh 1px;
    font-family: 'Calibri';
    font-weight: bold;
    }
  .team {
    width: 99%;
    font-size: 12px;
    margin: 3vh auto;
  }
  .name_job {
    font-size: 15px;
    margin-bottom: 3vh;
  }
  .submit {
    margin-top: 3vh;
    width: fit-content;
    margin-left: 75%;
    font-size: 14px;
  }
  .form_names {
    width: 25%;
    font-weight: bold;
    font-size: 12px;
  }
  .footer {
    margin-left: -13.5%;
    margin-right: -13.4%;
    padding: 0 3%;
    margin-bottom: 1vh;
    margin-top: 3vh;
    font-size: 13px;
  }
}