html {
  scroll-behavior: smooth;

}

body * {
  outline: 1px solid lightgrey;
  
}

.anchor {
  // color: tomato;  
}

#anchor{
  // color: black;
}

[id="anchor"] {
  // color: navy;
}

h1 {
  color: yellow;
}

.second-class.anchor {
  color: greenyellow;
}

h2 {
  
}

section h2 {
  color: aquamarine;
} 

.inline-block {
  height: 100px;
  width: 250px;
  display: inline-block;
}