@import './sprites.scss';

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald.ttf');
}

body {
  font-family: 'Montserrat';
  margin: 0;
}

.first_screen {
  background-image: url('./img/1page/bg_image.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  
}

.menu {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  position: relative;
  
}

.party {
  font-family: 'Oswald';
  font-size: 28px;
  color: #6B2971;
  margin: 0 1vw;
  padding: 0;
  
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5%;

}

.logo_text {
  display: flex;
  flex-direction: column;
  
}

.logo_logo {
  margin-top: 1vh;
}

.fa-circle {
  font-size: 5px;
}

.navig {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #6B2971;
  font-size: 24px;
  font-weight: bold;
  width: 60%;
  
}

.service {
  width: 17vw;
  height: 100%;
  background-color: #BA395D;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.service::after {
  content: url('./img/menu/hid_nav.png');
  margin-left: 30px;
}

.common {
  height: 65vh;
  display: flex;
  flex-direction: row;
}

.common_text {
  padding-left: 10%;
  width: 58vw;
  height: 85vh;
  margin-top: 5vh;
  color: #6B2971;

}

.common_text_serv {
  display: flex;
  flex-direction: column;
  text-align: left;
  
}

.common_text_big {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  font-size: 87px;
  margin-bottom: 5vh;
}

.common_text_small {
  font-size: 32px;
}

.common_illustr {
  width: 42vw;
  height: 75vh;
  background-image: url('./img/1page/under_cat.png');
  background-repeat: no-repeat;
  background-size: 38vw 70vh;
  position: relative;
  
}

.big_cat {
  margin-left: -18vw;
  margin-top: -10vh;
  width: 50vw;
  
}

.first_pagination {
  display: inline-flex;
  text-align: center;
  flex-direction: column;
  color: #BA395D;
  width: 5vw;
  height: 100%;
  position: absolute;
  right: 3vw;
  margin-top: 5vh;
  
}

.first {
  font-size: 10px;
  margin-top: 6vh;
  margin-bottom: 6vh;
}

.first_act {
  font-size: 33px;
}

.second_screen {
  margin-top: -16vh;
  height: 100vh;
  
}

.second_top {
  display: flex;
  flex-direction: row;
}

.down {
  width: 10vw;
  margin-top: 2vh;
  text-align: center;
}

.descript {
  width: 90vw;
  height: 85vh;
  background-image: url('./img/2page/article_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  
}

.header {
  display: flex;
  flex-direction: row;
  height: 20vh;
}

.head {
  width: 72%;
  padding-left: 5vw;
  color: #ffffff;
  font-family: 'Montserrat-Bold';
  font-size: 48px;
}

.social {
  width: 28%;
  background-image: url('./img/2page/soc_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  padding-top: 6vh;
  justify-content: space-between;
  align-content: center;
}

.soc {
  width: 10vw;
  height: 51px;
  margin: 8vh 2vw;
}