.bg-about_icon {
    width: 23px; height: 44px;
    background: url('../img/sprites.png') -10px -132px;
}

.bg-blog_icon {
    width: 40px; height: 40px;
    background: url('../img/sprites.png') -148px -10px;
}

.bg-contact_icon {
    width: 50px; height: 35px;
    background: url('../img/sprites.png') -10px -77px;
}

.bg-home_icon {
    width: 55px; height: 47px;
    background: url('../img/sprites.png') -10px -10px;
}

.bg-work_icon {
    width: 43px; height: 43px;
    background: url('../img/sprites.png') -85px -10px;
}
