.bg-inst {
    width: 55px; height: 51px;
    background: url('./img/2page/sprites.png') -10px -10px;
}


.bg-tw {
    width: 55px; height: 51px;
    background: url('./img/2page/sprites.png') -85px -10px;
}


.bg-tt {
    width: 55px; height: 51px;
    background: url('./img/2page/sprites.png') -10px -81px;
}